<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<!--
		Localization
		-->
		<ComponentGroup Id="LocalizationComponentGroup" Directory="LocalizationFolder">
			<!-- TeeJ-editor: English only. All other language components were removed with their nativeLang files. -->
			<Component Id="english_LANG">
				<File Source="..\..\installer\nativeLang\english.xml" />
			</Component>
			<Component Id="english_customizable_LANG">
				<File Source="..\..\installer\nativeLang\english_customizable.xml" />
			</Component>
		</ComponentGroup>

		<!--
		NPP_LANG Property:
		Use "NPP_LANG=localizationFileNameWithoutExtension" to install one of language listed above.
		For example, the Notepad++ French localization file is "french.xml". To install the French localization, use "NPP_LANG=french".
		Likewise, to install the Argentine Spanish localization, use "NPP_LANG=spanish_ar";
		and to install the Serbian Cyrillic localization, use "NPP_LANG=serbianCyrillic".
		-->

		<Property Id="NPP_LANG" Secure="yes">
			<RegistrySearch Id="NPP_LANG_Search"
							Root="HKLM"
							Key="Software\Notepad++\Lang"
							Name="active"
							Type="raw" />
		</Property>

		<Component Id="nativeLang_registry" Guid="{86989CD1-5FE5-43AE-A7EA-0CDAE0B9F69B}" Directory="INSTALLFOLDER">
			<RegistryValue  Root="HKLM"
							Key="Software\Notepad++\Lang"
							Name="active"
							Type="string"
							Value="[NPP_LANG]"
							KeyPath="yes" />
		</Component>

		<Feature Id="NativeLangFeature" Title="Native Language" Level="0">
			<ComponentRef Id="nativeLang_registry" />
			<Level Value="1" Condition="NPP_LANG" />
		</Feature>


		<SetProperty Id="CopyNativeLangAction"
					 Value='"[SystemFolder]xcopy.exe" "[LocalizationFolder][NPP_LANG].xml" "[INSTALLFOLDER]nativeLang.xml*" /Y /Q'
					 Before="CopyNativeLangAction"
					 Sequence="execute" />

		<SetProperty Id="DeleteNativeLangAction"
					 Value='"[SystemFolder]cmd.exe" /C del /F /Q "[INSTALLFOLDER]nativeLang.xml"'
					 Before="DeleteNativeLangAction"
					 Sequence="execute" />


		<CustomAction Id="CopyNativeLangAction"
					  BinaryRef="Wix4UtilCA_X64"
					  DllEntry="WixQuietExec"
					  Execute="deferred"
					  Impersonate="no"
					  Return="ignore" />

		<CustomAction Id="DeleteNativeLangAction"
					  BinaryRef="Wix4UtilCA_X64"
					  DllEntry="WixQuietExec"
					  Execute="deferred"
					  Impersonate="no"
					  Return="ignore" />

		<InstallExecuteSequence>
			<Custom Action="CopyNativeLangAction" After="InstallFiles" Condition="NPP_LANG AND NOT Installed" />
			<Custom Action="DeleteNativeLangAction" Before="RemoveFiles" Condition="NPP_LANG AND Installed AND REMOVE=&quot;ALL&quot;" />
		</InstallExecuteSequence>

	</Fragment>
</Wix>