<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<!--
		WinGUp
		TeeJ-editor ships no updater. This component is gutted but kept so that
		AutoUpdatorComponentGroup still resolves for the rest of the wxs set.
		-->
		<ComponentGroup Id="AutoUpdatorComponentGroup" Directory="UpdaterFolder" />
	</Fragment>
</Wix>